#bar-chart{
    background-color: rgb(55, 71, 79);
    width: 800px;
    height: 350px;
    font-family: Lato, Helvetica-Neue, monospace;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke:  #be1e2d;
  stroke-width: 30;
}
.ct-series-b .ct-bar {
  /* Colour of your bars */
  stroke:  #00a79d;
  stroke-width: 30;
}

.ct-label {
  color: black;
}